-Dmaven.repo.local=/Users/adityakashyap/Desktop/CapitalOne/ScanOss/forks/drone-meltwater-cache/internal/plugin/autodetect/.m2/repository -Dmaven.repo.local=/Users/adityakashyap/Desktop/CapitalOne/ScanOss/forks/drone-meltwater-cache/internal/plugin/autodetect/.m2/repository -Dmaven.repo.local=/Users/adityakashyap/Desktop/CapitalOne/ScanOss/forks/drone-meltwater-cache/internal/plugin/autodetect/.m2/repository -Dmaven.repo.local=/Users/adityakashyap/Desktop/CapitalOne/ScanOss/forks/drone-meltwater-cache/internal/plugin/autodetect/.m2/repository -Dmaven.repo.local=/Users/adityakashyap/Desktop/CapitalOne/ScanOss/forks/drone-meltwater-cache/internal/plugin/autodetect/.m2/repository -Dmaven.repo.local=/Users/adityakashyap/Desktop/CapitalOne/ScanOss/forks/drone-meltwater-cache/internal/plugin/autodetect/.m2/repository 