-Dmaven.repo.local=/Users/devanshmathur/drone-meltwater-cache-dm/internal/plugin/autodetect/.m2/repository -Dmaven.repo.local=/Users/devanshmathur/drone-meltwater-cache-dm/internal/plugin/autodetect/.m2/repository -Dmaven.repo.local=/Users/devanshmathur/drone-meltwater-cache-dm/internal/plugin/autodetect/.m2/repository 